.beneficios {
    padding: 3rem 1rem;
    background: #FFF2DC; /* Fondo naranja claro */
    text-align: center;
}

.beneficios h2 {
    font-size: 2rem;
    color: #FF6700; /* Color naranja vibrante */
    margin-bottom: 2rem;
}

.beneficio-item {
    display: inline-block;
    width: 250px;
    margin: 1.5rem;
    text-align: center;
}

.beneficio-item svg {
    margin-bottom: 1rem;
}

.beneficio-item p {
    font-size: 1.1rem;
    color: #333;
    margin: 0.5rem 0;
}
